/* jemdoc.css - 申韬原版复刻 (衬线字体版) */

/* 基础设置 */
table#tlayout { border: none; border-collapse: separate; background: white; width: 100%; }
html { background-color: #eeeeee; }

body { 
    /* 【核心修改】使用 Merriweather (Google衬线体) */
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;
    
    /* 以下保持原版参数不动 */
    color: #000;
    background-color: #ffffff; 
    text-align:left;
    margin: 30px auto; 
    padding: 10px 50px 30px 50px;
    max-width: 960px;
}

/* 链接颜色 (原版深蓝) */
a, a > tt { color: #224b8d; text-decoration: none; }
a:hover { border-bottom: 1px gray dotted; }

/* 标题样式 (原版深蓝 + 衬线体) */
h1, h2, h3 {
    font-family: 'Merriweather', Georgia, serif; /* 标题也用衬线体，显学术 */
    color: #527bbd; /* 原版那种经典的深蓝 */
    font-weight: bold;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    padding-top: 0.5em;
    border-bottom: 1px solid #aaaaaa;
}

h1 { font-size: 165%; padding-bottom: 0.3em; }
h2 { font-size: 125%; padding-top: 0.8em; }
h3 { font-size: 110%; border-bottom: none; }

/* 原版布局结构 (勿动) */
div#toptitle { margin-bottom: 1.5em; }
div#toptitle + h2 { margin-top: 0em; }
p { margin-bottom: 0.8em; line-height: 1.4; }
li { margin-top: 0.5em; }
ul { margin-top: 0.2em; padding-left: 20px; }
table.imgtable td { border: none; text-align: left; vertical-align: top; padding-right: 20px; }
img { border: none; }
#layout-menu { display: none; } /* 隐藏不需要的侧边栏 */

/* 手机适配 */
@media screen and (max-width: 768px) {
    body { width: auto; margin: 0; padding: 20px; }
    td { display: block; width: 100%; padding-right: 0; }
    img { max-width: 100%; }
}